node_modules
**/generated.ts
**/generated/index.ts
# Ignore build artifacts
build/
dist/
out/
temp/
tmp/
.next/

# Ignore coverage reports
coverage/
coverage-report/
**/cypress/results/
.cy/

# Ignore details folder lint errors temporarily
apps/2j/concert-ticket/frontend/src/components/detail/
apps/2j/concert-ticket/frontend/src/app/detail/

